TODO Profile page to contain hours worked per day and week, plus available vacation credit
TODO calculations for absence and so on
TODO Admin page

TODO Sick Day flow
TODO Vacation request flow
TODO absence/neglect comment and manager review request
TODO managers can change login/logout time on review request, shows signed and highlighted