<!-- views/landing.ejs -->
<!doctype html>
<html>
<head>
    <title>Timelog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> replacing with theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"> <!-- load font awesome -->
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<div class="container center-block">

    <div class="jumbotron text-center col-sm-4 col-md-8 col-lg-12">
        <h1><span class="fa fa-lock"></span> Timelog</h1>

        <p>Login:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Employee Login</a>
    </div>

</div>
</body>
</html>
